.alert {
    display:none;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 15px 2px;
    font-size: 15px;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 0;
    font-family: $light-font;
     a{
        float: right;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
.alert_info{
    background-color: $info-alert-bg;
    border-bottom: 6px solid #1d2dab;
}
.alert_warning{
    background-color:$warning-alert-bg;
    border-bottom: 6px solid #ce5917;
}
.alert_error{
    background-color: $error-alert-bg;
    border-bottom: 6px solid #9e0f0f;
}