
@{
    ViewBag.Title = "DefaultPage";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}


<div class="page-container row-fluid container-fluid">

    <section id="main-content" class=" ">

        <!--  Breadcrumb block -->
        <!-- Top search and button block -->
        <!-- Content Area -->
        <section class="wrapper main-wrapper row mt0">
            <div class="col-xs-12 text-center">
                <div class="under_construction text-center">
                    <img class="img-responsive" src="~/assets/images/under_construction.png">
                </div>


            </div>
        </section>
    </section>
    </div>

