    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-3">Address<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-4">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-4">Street Name</label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-4">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-5">Area</label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-5">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-2">PO Box<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-2">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-6">Zone</label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-6">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-7">City<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-7">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-8">State<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-8">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-9">Country<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-9">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-8">Time zone</label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-8">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-9">NFC</label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-9">
                </div>
            </div>
        </div>
    </div>
    <div class="heading m-b-sm">
        <p>PRIMARY CONTACT</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-10">Contact Person<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-10">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-11">Mobile Number<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-11">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-label" for="field-12">Email<span class="mandatory_clr">*</span></label>
                <div class="controls">
                    <input type="email" class="form-control" id="field-12">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer form_btn_block">
        <button type="button" class="btn btn-default" id="btn_CancelRole">Cancel</button>
        <button type="button" class="btn save" id="btn_AddRole">Save</button>
    </div>

</div>