

    <div class="row">
        <div class="col-lg-offset-2 col-lg-6">
            <div class="form-group">
                <div class="checkbox_style">
                    <input type="checkbox" id="ch3" /><label for="ch3">Distributor</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox_style">
                    <input type="checkbox" id="ch4" /><label for="ch4">Sub-distributor</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox_style">
                    <input type="checkbox" id="ch5" /><label for="ch5">Wholesaler</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox_style">
                    <input type="checkbox" id="ch6" /><label for="ch6">Modern Trade</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer form_btn_block">
        <button type="button" class="btn btn-default" id="btn_CancelRole">Cancel</button>
        <button type="button" class="btn save" id="btn_AddRole">Save</button>
    </div>
