@*<div role="tabpanel" class="tab-pane" id="sftp">*@
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-label">Folder path</label>
                <div class="controls">
                    <input type="text" class="form-control" id="field-1">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>SFTP folder is where the pins are copied for uploading pins. Separate SFTP folder is assigned for end solution partner to keep that solution partner's pins</p>
        </div>
    </div>
    <div class="modal-footer form_btn_block">
        <button type="button" class="btn btn-default" id="btn_CancelRole">Cancel</button>
        <button type="button" class="btn save" id="btn_AddRole">Save</button>
    </div>
@*</div>*@