<div class="modal modal_c fade bs-example-modal-lg" id="view_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User Details</h4>
            </div>
            <div class="modal-body">
                <form class="form_components">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="field-1">Name</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" disabled="disabled" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label" for="field-1">Email</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" disabled="disabled" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Role</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" disabled="disabled" placeholder="Role">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Default Home Page</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" disabled="disabled" placeholder="Default Home Page">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="checkbox_style">
                                    <input type="checkbox" id="ch2" disabled="disabled" /><label for="ch2">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer form_btn_block">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
